# /etc/systemd/system/system_monitor_mqtt.service

[Unit]
Description=system_monitor_mqtt
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/user/system_monitor
Restart=on-failure
RestartSec=5s
StandardOutput=null

[Install]
WantedBy=multi-user.target
